{% include "header.twig" %}
<fieldset>
<legend>Welcome to {{name}}!</legend>
<ul>
{% for mode, service in services %}
<li>
	<p><a href="{{sitepath}}{{gateway}}/{{ mode }}">{{ mode }}</a></p>
	{% if service.description %}<p class="description">{{ service.description }}</p>{% endif %}
</li>
{% endfor %}
</ul>
<p><label>&nbsp;</label><input type="button" onclick="location.href='{{ app.request.getBaseURL()|trim('index.php') }}'" value="Back"/></p>
</fieldset>
{% include "footer.twig" %}
